<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <link rel="preconnect" href="https://cdn.jsdelivr.net">
    <title>Quantum Messenger 匿名问答</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mdui@1.0.1/dist/css/mdui.min.css" />
    <style>
    {% block css %}
    

    {% endblock %}
    </style>
</head>

<body class="mdui-theme-primary-indigo mdui-theme-accent-indigo mdui-theme-layout-auto">
    {% block body %}
    

    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/smooth-scroll@16.1.3/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mdui@1.0.1/dist/js/mdui.min.js"></script>
    <script>
        var $ = mdui.$;
        mdui.mutation()
    </script>
    {% block script %}
    {% endblock %}
</body>

</html>